<div class="container mt-5">
    <h1 class="text-center">Sumário de Renda e Despesas</h1>

    <div class="row mb-4">
        <div class="col-md-4">
            <div class="d-flex flex-row widget summary income justify-content-center">
                <div class="d-flex flex-column m-auto py-3">
                    <div class="card-body text-center">
                        <span class="lead">Renda Total</span>
                        <h1 id="TotalIncome" class="display-6 fw-bold"><i class="fa-solid fa-euro-sign text-success"></i>@ViewBag.TotalIncome</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-row widget summary expense justify-content-center">
                <div class="d-flex flex-column m-auto py-3">
                    <div class="card-body text-center">
                        <span class="lead">Despesa Total</span>
                        <h1 id="TotalExpense" class="display-6 fw-bold"><i class="fa-solid fa-euro-sign text-danger"></i>@ViewBag.TotalExpense</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-row widget summary balance justify-content-center">
                <div class="d-flex flex-column m-auto py-3">
                    <div class="card-body text-center">
                        <span class="lead">Balanço</span>
                        <h1 id="Balance" class="display-6 fw-bold"><i class="fa-solid fa-euro-sign text-primary"></i>@ViewBag.Balance</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="card-subtitle p-4">
                <h5 class="fw-bold">Grafico de Despesas</h5>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels>
                <e-accumulation-series-collection position="top">
                    <e-accumulation-series xName="IconeComNome" yName="amount" innerradius="60%" legendShape="Circle" dataSource="@ViewBag.GraphicChart">
                        <e-accumulationseries-datalabel name="ValorFormatado" visible>
                        </e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>
    <div class="col-md-8">
        <div class="widget chart">
            <div class="card-subtitle p-4">
                <h5 class="fw-bold">Renda vs Despesa</h5>
            </div>
            <ejs-chart id="spline-chart">
                <e-chart-primaryxaxis valueType="Category"></e-chart-primaryxaxis>
                <e-chart-primaryxaxis></e-chart-primaryxaxis>
                <e-series-collection>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="day"
                              yName="income" name="Income" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"></e-series>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="day"
                              yName="expense" name="Expense" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"></e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="widget">
                <div class="p-4">
                    <h5 class="fw-bold">Renda vs Despesa</h5>
                </div>
                <div class="px-4 pb-4">
                    <ejs-grid id="recent-transactions" dateSource="@ViewBag.RecentTransactions">
                        <e-grid-columns>
                            <e-grid-column headerText="Categoria" field="IconeComNome"></e-grid-column>
                            <e-grid-column headerText="Data" field="Date" type="date" format="dd-MM-yy"></e-grid-column>
                            <e-grid-column headerText="Valor" field="ValorFormatado" textAlign="Right"> </e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
    </div>
</div>
